@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Kalam:wght@300&family=Marck+Script&family=PT+Sans+Narrow&family=Pangolin&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Bree Serif', serif;
    text-transform: capitalize;
    text-decoration: none;
    transition: .5s linear;
    -webkit-transition: .5s linear;
    -moz-transition: .5s linear;
    -ms-transition: .5s linear;
    -o-transition: .5s linear;
}

$yellow: #ffd000;
$light-yellow: #f9d847;
$black: #000;
$white: #ffff;
$light-bg: #eee;
$dark-bg: #aaa;
$border: .2rem solid $black;
$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);



@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}

html{
    background: $light-yellow;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbat-track{
        background: $white;
    }

    &::-webkit-scrollbar-thumb{
        background: $black;
    }
}

section {
    padding: 5rem 9%;
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: $white;
    margin-bottom: 7rem;

    span {
        color: $black;
    }
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    border: $border;
    color: $white;
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;

    &:hover {
        background: $yellow;
        color: $black;
    }
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    z-index: 1000;
    display: flex;
    align-items: center;

    .logo {
        margin-right: auto;
        font-size: 2.5rem;
        font-weight: bolder;
        

        img{
            border-radius: 40%;
            height: 8rem;
            width: 8rem;
        }
    }

    .navbar {

        a{
            margin-left: 2rem;
            font-size: 1.7rem;
            color: $light-bg;

            &:hover {
                color: $yellow;
            }
        }

        #nav-close {
            font-size: 4.7rem;
            cursor: pointer;
            color: $black;
            display: none;

            &:hover {
                transform: rotate(120deg);
                -webkit-transform: rotate(120deg);
                -moz-transform: rotate(120deg);
                -ms-transform: rotate(120deg);
                -o-transform: rotate(120deg);
}
        }
    }

    .icons a,
    .icons div {
        font-size: 2.5rem;
        margin-left: 2rem;
        cursor: pointer;
        color: $white;

        &:hover {
            color: $yellow;
        }
    }

    #menu-btn {
        display: none;
    }
}




/*       Seacrch Form        */
.search-form {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    transform: translateY(-110%);

    &.active {
        transform: translateY(0);
    }

    #close-search {
        position: absolute;
        top: 1.5rem;
        right: 2.5rem;
        cursor: pointer;
        color: $white;
        font-size: 6rem;

        &:hover {
            color: $yellow;
        }
    }

    form {
        width: 70rem;
        padding: 0 2rem;
        padding-bottom: 2rem;
        border-bottom: .2rem solid $white;
        display: flex;
        align-items: center;

        input {
            width: 100%;
            font-size: 2rem;
            color: $white;
            text-transform: none;
            background: none;
            padding-right: 2rem;

            &::placeholder {
                color: $dark-bg;
            }
        }

        label {
            font-size: 3rem;
            cursor: pointer;
            color: $white;

            &:hover {
                color: $yellow;
            }
        }
    }
}





/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    Home Section    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    *\

/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    Home Section    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    */

.home {
    padding: 0;

    .hidden {
        display: none;
    }

    #book-form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        z-index: 9999;
        
        h2 {
            margin-top: 0;
        }
        
        form {
            label {
                display: block;
                margin-bottom: 5px;
            }
            
            input[type="text"],
            input[type="email"],
            textarea {
                width: 100%;
                padding: 5px;
                margin-bottom: 10px;
            }
            
            button[type="submit"],
            button#remove-btn {
                background-color: #007bff;
                color: #fff;
                padding: 5px 10px;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                margin-right: 5px;
            }
        }
    }
      

    .box {
        min-height: 100vh;
        display: flex;
        align-items: center;
        background-size: cover !important;
        background-position: center !important;
        background-attachment: fixed !important;
        justify-content: flex-end;
        padding: 2rem 9%;
        z-index: 0;

        &.second {
            justify-content: flex-start;
        }

        .content {
            width: 50rem;
            z-index: 100;

            span {
                font-size: 4rem;
                color: $light-bg;
            }

            h3 {
                color: $yellow;
                font-size: 6rem;
                padding-top: .5rem;
                text-transform: uppercase;
            }

            p {
                line-height: 2;
                font-size: 1.5rem;
                padding: 1rem 0;
                color: $white;
            }
        }
    }
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 4rem;
    color: $yellow;
}





/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    Blog Section    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    *\

/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    Blog Section    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    */

.blogs {

    .slide {
        text-align: center;
        width: 35rem;
        padding: 2rem;

        img {
            height: 25rem;
            width: 100%;
            object-fit: cover;
            border-radius: .5rem;
            -webkit-border-radius: .5rem;
            -moz-border-radius: .5rem;
            -ms-border-radius: .5rem;
            -o-border-radius: .5rem;
        }

        .icons {
            background: $black;
            padding: 1rem;
            position: relative;
            top: -2rem;
            display: inline-block;
            border-radius: .5rem;
            -webkit-border-radius: .5rem;
            -moz-border-radius: .5rem;
            -ms-border-radius: .5rem;
            -o-border-radius: .5rem;

            a {
                font-size: 1.4rem;
                color: $white;
                margin: 0 1rem;
                
                &:hover {
                    color: $yellow;
                }

                i {
                    padding-right: .5rem;
                    color: $yellow;
                }
            }
        }

        h3 {
            font-size: 2rem;
            color: $black;
        }

        p {
            font-size: 1.4rem;
            padding: 1rem 0;
            line-height: 2;
            color: $black;
        }
    }
}





/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    Footer Section    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    *\

/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    Footer Section    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    */

.footer {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(gallery8.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .box-container {
        @include grid(25rem);

        .box {

            h3 {
                font-size: 2rem;
                padding: 1.5rem 0;
                color: $white;
            }

            a {
                display: block;
                font-size: 1.4rem;
                color: $white;
                padding: 1rem 0;

                i{
                    color: $yellow;
                    padding-right: 0.5rem;
                }

                &:hover {
                    color: $yellow;

                    i{
                        padding-right: 2rem;
                    }
                }
            }
        }
    }

    .credit {
        text-align: center;
        margin-top: 2.5rem;
        padding: 1rem;
        padding-top: 2.5rem;
        font-size: 2rem;
        color: $white;

        span {
            color: $yellow;
        }
    }
}












/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    Artist Section    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    *\

/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    Artist Section    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    */

/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    Artist Section    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    *\

/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    Artist Section    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    */

.artist {
    margin-top: 5rem;
    padding: 0;
    margin-bottom: 5rem;
}

.image {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/gallery/back.png) no-repeat;
    background-size: cover;
    background-position: 30% 0;
    background-attachment: fixed;
    margin-bottom: 8rem;
    margin-top: 5rem;
    height: 30vh;
}

.heading {
    margin-top: 10rem;
    z-index: 100;
    text-align: center;
    transform: translate(0%, 100%);
    -webkit-transform: translate(0%, 100%);
    -moz-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    -o-transform: translate(0%, 100%);
}


.artist .artist-slider .swiper-slide {
    overflow: hidden;
    border-radius: .5rem;
    height: 50rem;
    width: 35rem;
    background: $black;
}

.artist .artist-slider .swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover
}

.artist .artist-slider .swiper-slide .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;

    h3 {
        font-size: 4rem;
        color: $yellow;
        font-family: 'Kalam', cursive;
    }
}






/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    Release Section    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    *\

/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    Release Section    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    */

/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    Release Section    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    *\

/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    Release Section    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    */

.release {
    background: $light-yellow;
    padding: 0;

    .box-container {
        @include grid(32rem);
        padding: 0 2.6rem;


        .box {
            text-align: center;
            background: transparent;
            box-shadow: $box-shadow;
            border-radius: .5rem;

            &:hover {
                background: $black;

                .content > * {
                    color: $white;
                }

                .btn {
                    border-color: $white;

                    &:hover {
                        background: $white;
                        color: $black;
                    }
                }
            }

            .image {
                height: 33rem;
                overflow: hidden;
                padding: 2rem;
                padding-bottom: 2rem;
                border-radius: .5rem;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: .5rem;
                }
            }

            .content {
                padding: 0.1rem;
                padding-bottom: 2rem;

                h3 {
                    font-size: 2rem;
                    color: $black;
                }

                p {
                    font-size: 1.5rem;
                    color: $black;
                    padding: 1rem 0;
                    line-height: 2;
                }
            }
        }
    }
}






/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    Videos Section    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    *\

/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    Videos Section    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    */

/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    Videos Section    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    *\

/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    Videos Section    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    */

.videos {
    background: $light-yellow;
    padding: 0;

    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
        gap: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;

        .box {
            position: relative;
            border-radius: .5rem;
            height: 30rem;
            cursor: pointer;
            overflow: hidden;
            margin-bottom: 3rem;

            video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 0;
                
                &:hover {
                    transform: scale(1.1);
                }  
            }          

            .title {
                position: absolute;
                top: 0rem; left: 0; right: 0;
                background: $black;
                color: $white;
                text-align: center;
                padding-bottom: 1rem;
                font-size: 2rem;

            }

            .icon {
                position: absolute;
                top: 50%; 
                left: 50%; 
                transform: translate(-50%, -50%);
                z-index: 500;
            
                a {
                    display: inline-block;
                    margin-right: 10px; 
                    font-size: 6rem;
                    color: $white;

                    &:hover {
                        color: $yellow;
                    }
                }
            }

            .socials {
                position: absolute;
                bottom: 0rem; left: 0; right: 0;
                background: $black;
                padding-top: 1rem;
                text-align: center;

                a {
                    font-size: 2rem;
                    margin: .5rem 1rem;
                    color: #fff;

                    &:hover {
                        color: $yellow;
                    }
                }
            }
        }
    }
}






/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    About Section    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    *\

/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    About Section    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    */

/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    About Section    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    *\

/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    About Section    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    */

.about {
    background: url(images/gallery/media.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
    margin: 14rem 0;
    height: 44vh;

    .row {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        flex-wrap: wrap;

        .content {
            text-align: center;
            flex: 1 1 40rem;
            padding-left: 4rem;

            h3 {
                font-size: 3rem;
                color: $white;
            }

            p {
                padding: 1rem 0;
                line-height: 2;
                font-size: 1.6rem;
                color: $dark-bg;
            }
        }

        .images {
            flex: 1 1 40rem;

            img {
                width: 28%;
                position: absolute;
                top: 15%;
                right: 0;
            }
        }
    }
}


































/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    Media Qeury    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    *\

/*    {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{    Media Qeury    }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}    */

@media (max-width: 1200px) {

    .header {
        padding: 2rem;
    }

    section {
        padding: 3rem 2rem;
    }

    .home .box {
        justify-content: center;
        
        &.second {
            justify-content: center;
        }
        
        .content {
            text-align: center;

            span {
                font-size: 3rem;
            }

            h3 {
                font-size: 4rem;
            }
        }
    }
    .images {

        img {
            display: none;
        }
    }
}


@media (max-width: 991px) {

    html {
        font-size: 55%;
    }
}


@media (max-width: 768px) {
    
    .header {

        #menu-btn{
            display: inline-block;
        }

        .navbar {
            position: fixed;
            top: 0;
            left: -110%;
            background: $white;
            z-index: 10000;
            width: 35rem;
            height: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;

            a{
                color: $black;
            }

            &.active {
                left: 0;
                box-shadow: 0 0 0 100vw rgba(0, 0, 0,.8);
            }

            a {
                margin: 1rem 0;
                font-size: 3rem;
            }

            #nav-close {
                display: block;
                position: absolute;
                top: 1rem;
                right: 1.5rem;
            }
        }
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        margin-top: 67rem;
    }
}


@media (max-width: 450px) {
    
    html {
        font-size: 50%;
    }
    .footer {

        .box-container {
            text-align: center;
        }
    }
    .about {

        .row {
            
            .content {
                margin-top: 3rem;
            }
        }
    }
    #book-form {
        width: 100%;
        top: 10%;
        left: 50%;
        transform: translate(-10%, -50%);

        form {
            button[type="submit"],
            button#remove-btn {
                margin: 1.5rem 0;
            }
        }
    }
}